*{
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background: #1F2C34;
}
.container{
	max-width: 95%;
	height: 70px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:center;
}
.logo{
	width: 30%;
	height: 45px;
	/*background: green;*/
}
.logo span{
	font-size: 42px;
	color: white;
}
nav{
	width: 40%;
	height: 26px;
}
.navbar li{
	list-style: none;
}
.navbar a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}
.navbar, .iconBar{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.taracq{
	width: 5%;
	
}
.icon{
	width: 15%;
	height: 40px;
}
.iconBar i{
	font-size: 15px;
background: white;
border-radius: 50%;
padding: 10px;
}
.baner{
	display: flex;
}
.SectionBar{
	width: 30%;
	height: 600px;
	background-color: yellow;


}
main{
width: 50%;
height: 600px;
background: orange;

}
.RekalmBar{
	width: 19%;
	height: 600px;
	background: pink;
	
}